#profile-icon {
  width: 200px;
  border-radius: 7rem;
}

.page-header {
  position: sticky;
  top: 0;
  padding: 10px;
  background-color: #333b;
  border-radius: 20px;
}

.page-header nav {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.section-item {
  padding: 5px;
  border-radius: 10px;
}

.section-item:hover {
  background-color: rgba(214, 188, 250, 0.12);
}

.media-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 10px;
  width: 40px;
}

.media-item:hover {
  background-color: rgba(214, 188, 250, 0.12);
}

.header-container h2 {
  font-size: 2rem;
}

#working-on {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  max-width: 800px;
  border: 1px solid #808080;
  padding: 20px;
  border-radius: 20px;
  margin: auto;
}

#working-on span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

#working-on h2 a {
  display: flex;
}

#working-on h2 a:hover {
  opacity: 0.8;
}

#about-me {
  flex-direction: column;
  gap: 15px;
  padding: 10px;
  border-radius: 15px;
  margin-top: 20px;
}

.about-title {
  display: flex;
  align-items: center;
  gap: 15px;
}

#tecnologies {
  margin-top: 30px;
  font-size: 2rem;
}
.tec-ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.tec-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
  border: 1px solid #303030;
  border-radius: 10px;
  width: 80px;
}

.tec-item:hover {
  background-color: #5850ec33;
}

hr {
  height: 15px;
  margin-top: 20px;
  border: none;
  border-top: dashed 5px #808080;
}

@media (max-width: 1100px) {
  .header-container h2 {
    font-size: 1.5rem;
  }
}
@media (max-width: 800px) {
  .page-header nav {
    justify-content: space-around;
  }
}
