:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #ddd;
}

.page-container {
  background-color: black;
  min-height: 100vh;
  margin: 15px 15px 0px 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container {
  display: flex;
  margin: auto;
  max-width: 1000px;
}

.content-wrap {
  margin: 80px auto;
  flex: 1;
  background-color: rgba(100, 100, 100, 0.2);
  box-shadow: 0px 0px 40px 3px rgba(38, 101, 185, 0.3);
  padding: 20px;
  border-radius: 20px;
}

.font-semibold {
  font-weight: 600;
}

.header-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  margin: 30px auto 50px auto;
  padding-bottom: 10px;
}

@media (max-width: 600px) {
  .page-title {
    visibility: hidden;
    width: 0;
    height: 0;
  }
}
